<!DOCTYPE html>
<html lang="en"   ng-app="ngrepeatApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">

    <!-- jQuery library -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <script src="js/lib/localforage.min.js"></script>
    <script src="js/lib/ngStorage.min.js"></script>
    <script src="js/app/app.js"></script>

</head>
<body>

<div ng-controller="customersCtrl">
    <div class="container">
        <div class="center-block">
            <div class="row">
                <div ng-repeat="locker in lockers">
                    <div ng-if="locker.number % 2 == 1 && locker.number <= 50" class="col-lg-1">
                        <button ng-if="arrayContains(reservedLockers, locker)"
                                class="col-lg-25 btn-danger">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && !arrayContains(reservedLockersNeighbors, locker)"
                                class="col-lg-25">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && arrayContains(reservedLockersNeighbors, locker)"
                                class="col-lg-25 bg-warning">{{ locker.number }}</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div ng-repeat="locker in lockers">
                    <div ng-if="locker.number % 2 == 0 && locker.number <= 50" class="col-lg-1">
                        <button ng-if="arrayContains(reservedLockers, locker)"
                                class="col-lg-25 btn-danger">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && !arrayContains(reservedLockersNeighbors, locker)"
                                class="col-lg-25">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && arrayContains(reservedLockersNeighbors, locker)"
                                class="col-lg-25 bg-warning">{{ locker.number }}</button>
                    </div>
                </div>
            </div>
                <p></p>
                <p></p>
            <div class="row">
                <div ng-repeat="locker in lockers">
                    <div ng-if="locker.number % 2 == 1 && locker.number > 50" class="col-lg-1">
                        <button ng-if="arrayContains(reservedLockers, locker)"
                                class="col-lg-25 btn-danger">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && !arrayContains(reservedLockersNeighbors, locker)"
                                class="col-lg-25">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && arrayContains(reservedLockersNeighbors, locker)"
                                class="col-lg-25 bg-warning">{{ locker.number }}</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div ng-repeat="locker in lockers">
                    <div ng-if="locker.number % 2 == 0 && locker.number > 50" class="col-lg-1">
                        <button ng-if="arrayContains(reservedLockers, locker)"
                                class="col-lg-25 btn-danger">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && !arrayContains(reservedLockersNeighbors, locker)"
                                class="col-lg-25">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && arrayContains(reservedLockersNeighbors, locker)"
                                class="col-lg-25 bg-warning">{{ locker.number }}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>