<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!-- jQuery library -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <script src="js/lib/localforage.min.js"></script>
    <script src="js/lib/ngStorage.min.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/popup.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

</head>
<body ng-app="ngrepeatApp" >

<div  ng-controller="customersCtrl">
    <div class="container">
        <div class="table center-block">
            <div class="row">
                <h1>Search:</h1>
            </div>
            <div class="row">
                <div id="search_field" class="col-lg-5">
                    <form class="input-group">
                        <input type="text" ng-model="hunk_search.clientId" class="form-control" >
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" ng-click="getHunk(hunk_search.clientId)">
                                Search</button>
                        </span>
                    </form>
                </div>
                <div id="search_result" class="col-lg-5">
                    <div class="table table-bordered">
                        <div class="row">
                            <div class="col-lg-12">ID:</div>
                            <div class="col-lg-12">{{hunk.clientId}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">Name:</div>
                            <div class="col-lg-12">{{hunk.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">Sex:</div>
                            <div class="col-lg-12">{{hunk.sex}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div ng-controller="AppCtrl" id="popupContainer" ng-cloak
                class="center-block table">
            <div class="row">
                <div ng-repeat="locker in lockers">
                    <div ng-if="locker.number % 2 == 1 && locker.number <= 50" class="col-lg-1"
                         ng-click="showConfirm($event, locker, hunk, arrayContains(reservedLockers, locker) )">
                        <button ng-if="arrayContains(reservedLockers, locker)"
                                class="btn btn-danger col-lg-25">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && !arrayContains(reservedLockersNeighbors, locker)"
                                class="btn col-lg-25 btn-default">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && arrayContains(reservedLockersNeighbors, locker)"
                                class="btn col-lg-25 btn-warning">{{ locker.number }}</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div ng-repeat="locker in lockers">
                    <div ng-if="locker.number % 2 == 0 && locker.number <= 50" class="col-lg-1">
                        <button ng-if="arrayContains(reservedLockers, locker)"
                                class="btn col-lg-25 btn-danger">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && !arrayContains(reservedLockersNeighbors, locker)"
                                class="btn col-lg-25 btn-default">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && arrayContains(reservedLockersNeighbors, locker)"
                                class="btn col-lg-25 btn-warning">{{ locker.number }}</button>
                    </div>
                </div>
            </div>
            <p></p>
            <p></p>
            <div class="row">
                <div ng-repeat="locker in lockers">
                    <div ng-if="locker.number % 2 == 1 && locker.number > 50" class="col-lg-1">
                        <button ng-if="arrayContains(reservedLockers, locker)"
                                class="btn col-lg-25 btn-danger">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && !arrayContains(reservedLockersNeighbors, locker)"
                                class="btn col-lg-25 btn-default">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && arrayContains(reservedLockersNeighbors, locker)"
                                class="btn col-lg-25 btn-warning">{{ locker.number }}</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div ng-repeat="locker in lockers">
                    <div ng-if="locker.number % 2 == 0 && locker.number > 50" class="col-lg-1">
                        <button ng-if="arrayContains(reservedLockers, locker)"
                                class="btn col-lg-25 btn-danger"
                                ng-click="showConfirm($event)">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && !arrayContains(reservedLockersNeighbors, locker)"
                                class="btn col-lg-25 btn-default"
                                ng-click="showConfirm($event)">{{ locker.number }}</button>
                        <button ng-if="!arrayContains(reservedLockers, locker)
                                        && arrayContains(reservedLockersNeighbors, locker)"
                                class="btn col-lg-25 btn-warning"
                                ng-click="showConfirm($event)">{{ locker.number }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>